@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #999; */
}
.limiter{
  width: 100%;
  margin: 0 auto;
}
.container-login{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap-login{
  width: 680px;
  background: #fff;
  border-radius: 12px;
  position: relative;
  padding: 50px;
}
.login-form{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.login-form-title{
  width: 100%;
  display: block;
  font-size: 40px;
  color: #555555;
  line-height: 1.1;
  text-align: center;
  cursor: pointer;
}
.wrap-input{
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  cursor: pointer;
}
.input{
  outline: none;
  border: none;
}
.inputcustom{
color: #333;
font-size: 18px;
line-height: 1.2;
display: block;
width: 100%;
background: transparent;
height: 40px;
padding: 0 20px;
border-radius: 10px;

}
.w-full{
  width: 100%;
  
}
.txt2{
  font-size: 18px;
  color: #999;
  line-height: 1.5;
}

a:fous{
  outline: none;
}
a:hover{
  text-decoration: none;
  color: #333;
}
.signin{
  color: #fff;
}
.signin:hover{
  color: #000;
  
}

:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}


/* media queries */

@media (max-width:760px){
  .wrap-login{
    padding: 0 60px;
  }
  @media (max-width:576px){
    .wrap-login{
      padding: 0 20px;
    }
    .btn-face,.btn-google{
      width: 100%;
    }
  }
}
