<!DOCTYPE html>
<html lang="en">

<head>
    <title>Departure | The Internet Airlines</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../css/departure.css" />
    <link rel="stylesheet" href="css/header.css">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('#header').load("header")
        })
    </script>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <head>

    <body>
        <div id="header"></div>
        <div class="blank"></div>
        <table>
            <colgroup>
                <col span="6" style="background-color:lightblue">
                <col style="background-color: rosybrown">
                <col span="4" style="background-color:lightblue">
                <col style="height:50px;">
                <!-- <col style="width: 50px"> -->
            </colgroup>
            <tr col style="background-color:aqua">
                <th>ID</th>
                <th>Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Class</th>
                <th>Available</th>
                <th>Select</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul style="width:200px">
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul style="width:200px">
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul style="width:80px">
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width:100px">abcd</td>
                <td style="width:80px">DL345</td>
                <td style="width:80px">10/11/22</td>
                <td style="width:80px">11:00AM</td>
                <td style="width:80px">Hyderabad</td>
                <td style="width:80px">Mumbai</td>
                <td style="width:80px">1200$</td>
                <td style="width:80px">40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>abcd</td>
                <td>DL345</td>
                <td>10/11/22</td>
                <td>11:00AM</td>
                <td>Hyderabad</td>
                <td>Mumbai</td>
                <td>1200$</td>
                <td>40</td>
                <td>
                    <ul>
                        <li>first class</li>
                        <li>Business class</li>
                        <li>Economy class</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                        <li><a href="#"><input type="checkbox" name="select" id="select"></a></li>
                    </ul>
                </td>
            </tr>
        </table>
        <a href="returnFlight"  class="btn btn-info mx-2 my-5" id="submit"
            onclick="submitData()">Proceed Futher &nbsp;&nbsp; &#8594;</a>
        <a href="index"  class="btn btn-danger mx-5 my-5">Cancel &nbsp;&nbsp; &#8592;</a>

    </body>
</head>
</body>
</head>
</head>