<head>
    <link rel="stylesheet" href="css/header.css">
</head>
<header>
    <nav class="myNavbar">
        <div class="navbar">
            <div>
                <a href="index" class="nav-item">
                    <img src="img/logo.png" alt="logo" class="logo">
                </a>
                
            </div>
            <div>
                <ul class="nav-items">
                    <h1 class="h2">V Fly! Airline that you need!</h1>
                    <li><a href="index" class="nav-item">Start Over</a></li>
                    <li><a href="greatDeals" class="nav-item">Deals</a></li>
                    <li><a href="help" class="nav-item">Help</a></li>
                    <li><a href="contact" class="nav-item">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>