<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help | The Internet Airlines</title>
  <link rel="stylesheet" href="css/header.css">

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script>
    $(function () {
      $('#header').load("header")
    })
  </script>

</head>

<body>
  <div id="header"></div>
  <h1>Need Help?</h1>
  <div class="greeting">
    <h1>Hey there!</h1>
    <h2>Welcome to The Internet Airlines</h2>
    <p>The Internet Airlines was established in the year 1980. We have more than hundred of airplanes across the US.</p>
    <p>To know more about our system rules for onboarding into our flight, <a href="rules">View Rules</a></p>
    <p>If you have any concerns feel free to reach us <a href="contact"> <strong>here</strong> </a></p>
  </div>
</body>

</html>