<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Flight | The Internet Airlines</title>
    <link rel="stylesheet" href="css/header.css">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('#header').load("header")
        })
    </script>

</head>

<body>
    <div id="header"></div>
    <h1>Select Return Flight</h1>
    <a href="ticketQty"  class="btn btn-info mx-2 my-5" id="submit" onclick="submitData()">Proceed
        Futher &nbsp;&nbsp; &#8594;</a>
    <a href="index"  class="btn btn-danger mx-5 my-5">Cancel &nbsp;&nbsp; &#8592;</a>

</body>

</html>