<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Rules | The Internet Airlines</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('#header').load("./header.html")
        })
    </script>

</head>

<body>
    <div id="header"></div>
    <h1>Rules for passengers:</h1>
    <div class="rules">
        <ol class="rules">
            <li class="rule">Do not carry more than 2 Laptops in handcarry</li>
            <li class="rule">Do not carry Alcohol</li>
            <li class="rule">Do not carry drugs</li>
            <li class="rule">Carriage of Kirpan is strictly prohibited</li>
            <li class="rule">Smoking in the aircraft cabin is not allowed</li>
            <li class="rule">Put your devices on airplane mode</li>
            <li class="rule">Carriage of knives are not allowed</li>
            <li class="rule">Please do carry your passport and boarding pass</li>
            <li class="rule">Fasten your seat belt</li>
            <li class="rule">Listen to all the instruction thoroughly by Air hostess before flight take off</li>
        </ol>
    </div>
</body>